html,
body {
	font-family: "Poppins", sans-serif;
	padding: 0;
	margin: 0;
}

.hidden {
	display: none !important;
}

.content {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr 2fr 2fr;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	color: white;
	background-color: black;
}

.title .crt-header {
	font-size: 3em;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

.title .crt-header .crt-logo {
	height: 55px;
}

.title .crt-header .text {
	padding-left: 0.25em;
}

.title .clock {
	text-align: right;
}

.title .clock .time-container {
	font-size: 2em;
}

.title .clock .date {
	font-size: 1em;
}

.countdown-container {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.countdown .timer,
.countdown .desc {
	text-align: center;
}

.countdown .timer {
	font-weight: normal;
	font-size: 150px;
	margin: 0;
}

.countdown .desc {
	font-weight: normal;
	font-size: 50px;
	margin: 0;
}

.double {
	grid-row-start: span 2;
}

.info-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	background-position: center;
	background-size: cover;
	min-height: 100%;
}

.info-container .info-text,
.info-container .info-qr {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;
	flex-grow: 1;
}

.info-container .info-qr {
	height: 100%;
}

.info-container .info-qr .qr-code {
	height: 100%;
	padding: 20px;
}

.info-container h1,
.info-container h2 {
	margin: 10px;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	color: white;
}

.info-container h1 {
	font-size: 75px;
}

.info-container h2 {
	font-size: 50px;
}